In [3]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.options.display.float_format = '{:.2f}'.format

### Διάβασμα του αρχείου CSV

In [4]:
df = pd.read_csv('pl.csv')

### Έλεγχος εάν υπάρχουν NULL καταχωρήσεις

In [5]:
df.isnull().values.any()

False

In [6]:
df.isnull().sum()

Season      0
Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
Referee     0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
dtype: int64

In [7]:
df.isnull().sum().sum()

0

### Σοτάρισμα ανά Season, έτσι ώστε στην κορυφή να είναι η τελευταία σαιζόν & reset Index

In [8]:
df = df.sort_values(by = 'Season', ascending=False).reset_index(drop=True)
df.head(3)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,1718,13/05/18,West Ham,Everton,3,1,H,1,0,H,...,4,7,10,13,6,6,0,1,0,0
1,1718,26/11/17,Southampton,Everton,4,1,H,1,1,D,...,5,2,6,13,7,2,0,0,0,0
2,1718,24/11/17,West Ham,Leicester,1,1,D,1,1,D,...,4,2,9,12,5,5,1,1,0,0

### Προσθήκη νέας στήλης totalGoals. Το σύνολο των γκολ ανα αγώνα χωριστά.

In [9]:
df['totalGoals'] = df['FTHG'] + df['FTAG']

### Εμφάνιση των 3 πρώτων γραμμών

In [10]:
df.head(3)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
0,1718,13/05/18,West Ham,Everton,3,1,H,1,0,H,...,7,10,13,6,6,0,1,0,0,4
1,1718,26/11/17,Southampton,Everton,4,1,H,1,1,D,...,2,6,13,7,2,0,0,0,0,5
2,1718,24/11/17,West Ham,Leicester,1,1,D,1,1,D,...,2,9,12,5,5,1,1,0,0,2

### Εμφάνιση των 3 τελευταίων γραμμών

In [11]:
df.tail(3)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
2657,1112,03/03/12,Blackburn,Aston Villa,1,1,D,0,1,A,...,12,9,5,4,8,1,0,0,0,2
2658,1112,03/03/12,Liverpool,Arsenal,1,2,A,1,1,D,...,7,11,9,12,0,0,1,0,0,3
2659,1112,02/01/12,Blackburn,Stoke,1,2,A,0,2,A,...,3,8,7,8,3,2,1,0,0,3

### Έλεγχος μοναδικών σαιζόν

In [12]:
df['Season'].unique()

array([1718, 1617, 1516, 1415, 1314, 1213, 1112])

### Εμφάνιση συνόλου των μοναδικών σαιζών.

In [13]:
df['Season'].nunique()

7

### Αγώνες με περισσότερα από 5 γκολ, για την ομάδα εντός έδρας

In [14]:
df.query('FTHG >= 5').head(3)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
16,1718,29/11/17,Arsenal,Huddersfield,5,0,H,1,0,H,...,2,10,12,7,2,0,1,0,0,5
85,1718,09/12/17,Tottenham,Stoke,5,1,H,1,0,H,...,3,12,9,12,6,1,0,0,0,6
97,1718,09/09/17,Man City,Liverpool,5,0,H,2,0,H,...,3,10,9,8,3,2,2,0,1,5

### Αγώνες με περισσότερα από 5 γκολ, για την ομάδα εκτός έδρας

In [15]:
df.query('FTAG >= 5').head(3)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
24,1718,02/12/17,Brighton,Liverpool,1,5,A,0,2,A,...,6,8,7,2,2,1,0,0,0,6
143,1718,16/09/17,Watford,Man City,0,6,A,0,3,A,...,10,8,6,3,11,2,0,0,0,6
162,1718,22/10/17,Everton,Arsenal,2,5,A,1,1,D,...,14,14,14,0,7,1,1,1,0,7

### Εμφάνιση των εντός έδρας αγώνων συγκεκριμένης ομάδας - Function

In [16]:
# df.loc[(df['HomeTeam'] == 'Liverpool' )]
home_team = lambda x: df.loc[(df['HomeTeam'] == x)]

In [17]:
home_team('Liverpool').head(2)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
4,1718,25/11/17,Liverpool,Chelsea,1,1,D,0,0,D,...,3,10,7,7,8,0,0,0,0,2
45,1718,18/11/17,Liverpool,Southampton,3,0,H,2,0,H,...,0,15,9,10,2,1,1,0,0,3

### Εμφάνιση των εκτός έδρας αγώνων συγκεκριμένεης ομάδας - Function

In [18]:
# df.loc[(df['HomeTeam'] == 'Leicester' )]
away_team = lambda x: df.loc[(df['AwayTeam'] == x)]

In [19]:
away_team('Chelsea').head(4)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
4,1718,25/11/17,Liverpool,Chelsea,1,1,D,0,0,D,...,3,10,7,7,8,0,0,0,0,2
23,1718,18/11/17,West Brom,Chelsea,0,4,A,0,3,A,...,7,13,12,3,4,2,3,0,0,4
65,1718,23/12/17,Everton,Chelsea,0,0,D,0,0,D,...,8,8,4,2,7,3,0,0,0,0
86,1718,09/12/17,West Ham,Chelsea,1,0,H,1,0,H,...,2,10,10,4,3,6,1,0,0,1

### Εμφάνιση όλων των αγώνων συγκεκριμένης ομάδας & συγκεκριμένης σαιζόν

In [20]:
#df.query('HomeTeam == "Liverpool" | AwayTeam == "Liverpool" ')
df.loc[((df['HomeTeam'] == 'Liverpool') | (df['AwayTeam'] == 'Liverpool')) & (df['Season'] == 1617 ) ].head(2)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
396,1617,04/12/16,Bournemouth,Liverpool,4,3,H,0,2,A,...,3,9,17,4,9,2,2,0,0,7
404,1617,26/11/16,Liverpool,Sunderland,2,0,H,0,0,D,...,1,5,9,9,4,1,3,0,0,2

### Εμφάνιση των αγώνων συγκεκριμένης ημερομηνίας - Function

In [21]:
#df.loc[(df['Date'] == '24/09/16' )]
specific_date = lambda x: df.loc[(df['Date'] == x )]

In [22]:
specific_date('24/09/16')

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
523,1617,24/09/16,Arsenal,Chelsea,3,0,H,3,0,H,...,2,9,11,9,1,0,2,0,0,3
524,1617,24/09/16,Bournemouth,Everton,1,0,H,1,0,H,...,2,10,14,5,3,2,2,0,0,1
525,1617,24/09/16,Liverpool,Hull,5,1,H,3,0,H,...,1,8,8,13,2,1,2,0,1,6
537,1617,24/09/16,Man United,Leicester,4,1,H,4,0,H,...,3,9,12,8,6,0,2,0,0,5
551,1617,24/09/16,Middlesbrough,Tottenham,1,2,A,0,2,A,...,5,14,9,2,10,2,1,0,0,3
552,1617,24/09/16,Stoke,West Brom,1,1,D,0,0,D,...,3,9,13,6,6,3,4,0,0,2
553,1617,24/09/16,Sunderland,Crystal Palace,2,3,A,1,0,H,...,4,15,12,3,5,0,2,0,0,5
554,1617,24/09/16,Swansea,Man City,1,3,A,1,1,D,...,4,15,9,2,7,2,4,0,0,4

### Εμφάνιση των αγώνων μεταξύ 2 συγεκριμένων ομάδων.

In [23]:
#df.loc[(df['HomeTeam'] == 'Liverpool' & ['AwayTeam'] == 'Leicester')]
#df.query('HomeTeam == "Liverpool" & AwayTeam == "Hull" ')
home_away = lambda x,y: df.loc[(df['HomeTeam'] == x) & (df['AwayTeam'] == y)]

In [24]:
home_away('Hull','Liverpool')

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
684,1617,04/02/17,Hull,Liverpool,2,0,H,1,0,H,...,5,9,12,1,15,2,1,0,0,2
1406,1415,28/04/15,Hull,Liverpool,1,0,H,1,0,H,...,9,10,10,7,7,2,0,0,0,1
1892,1314,01/12/13,Hull,Liverpool,3,1,H,1,1,D,...,4,10,16,2,6,2,0,0,0,4

### Εμφάνιση του συνόλου των γκολ όλων των σαιζόν

In [25]:
df['totalGoals'].sum()

7264

### Εμφάνιση του συνόλου των γκολ ανα σαιζόν

In [29]:
#df.groupby('Season').sum().reset_index()
df2 = df.groupby('Season').sum().reset_index()

,Season,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,totalGoals
0,1112,604,462,267,197,5523,4345,3114,2462,3830,3908,2471,1856,523,655,25,39,1066
1,1213,592,471,246,218,5367,4185,3024,2386,3895,4058,2401,1837,515,671,26,26,1063
2,1314,598,454,266,197,5683,4531,1914,1477,3988,4194,2317,1776,543,669,16,37,1052
3,1415,560,415,277,185,5557,4289,1795,1399,4273,4349,2292,1770,619,745,26,45,975
4,1516,567,459,256,201,5439,4320,1759,1475,3822,4356,2260,1857,550,629,25,34,1026
5,1617,607,457,268,194,5325,4364,1829,1465,4204,4430,2158,1799,663,717,21,20,1064
6,1718,582,436,231,196,5162,4125,1758,1430,3883,3982,2181,1727,562,595,17,22,1018

### Σύνολο των γκολ, ταξινόμηση σε HomeTeam

In [ ]:
sum_team = lambda x: df.groupby(['Season', 'HomeTeam']).sum().loc[x]

In [ ]:
sum_team(1617).sort_values(['FTHG', 'FTAG'], ascending=[0,1])

### Εμφάνιση Μ.Ο. των γκολ με ταξινόμηση Home Team

In [ ]:
mean_team = lambda x: df.groupby(['Season', 'HomeTeam']).mean().loc[x]

In [ ]:
mean_team(1718).sort_values(['FTHG', 'FTAG'], ascending=[0,1])

In [ ]:
df.head()

In [ ]:
df['Season'].value_counts()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
grouped = df.groupby('Season').mean().reset_index()
grouped.sort_values('FTHG', ascending=False)